@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 129 33% 96%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 122 30% 48%;
    --primary-dark: 166 79% 7%;
    --primary-darker: 170 100% 10%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}


.comma-pos {
  top: -40px;
  left: -121px;
}


.tran5s {
  transition: all 0.5s ease-in-out;
}


.g-control-nav-two li {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  color: #313131;
  display: inline-block;
  padding: 0 8px;
  line-height: 31px;
  border: 2px solid transparent;
  margin: 0 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.g-control-nav-two li.is-checked {
  background-color: #042019 ;
  color: white;
}

.hvr-shutter-out .img-meta {
  overflow: hidden;
  z-index: 5;
}
.hvr-shutter-out .img-meta:before {
  content: "";
  position: absolute;
  background: #00332A;
  top: 50%;
  bottom: 50%;
  left: -45%;
  right: -45%;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
.hvr-shutter-out .img-meta:hover:before {
  top: -45%;
  bottom: -45%;
}
.hvr-shutter-out .img-meta .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  z-index: 3;
  transition: all 0.35s ease;
}
.hvr-shutter-out .img-meta .caption .tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.2px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 5px;
}
.hvr-shutter-out .img-meta .caption .pj-title {
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #fff;
}
.hvr-shutter-out .img-meta .caption .pj-title:hover {
  text-decoration: underline;
}
.hvr-shutter-out .img-meta:hover .caption {
  opacity: 1;
  transition-delay: 0.105s;
}
.hvr-shutter-out .img-meta .img-meta {
  position: relative;
  z-index: 1;
}
.hvr-shutter-out .img-meta:hover img {
  transform: scale(1.1) rotate(5deg);
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}